<h3>{{user.username | titlecase}} profile.</h3>
<li>Email: {{user.emailAddress}}</li>
<li>About: {{user.aboutMeInfo}}</li>
<h4>Posts: </h4>
<div class="listOfPosts" *ngFor="let post of postsOfUser">
    <li> User: {{ post.user.username | titlecase }}</li>
    <li>Created: {{ post.createDate | date }}</li>
    <li>Post: {{ post.postTextMessage }}</li>
    <li *ngIf="post.updateDate != null">Edited: {{ post.updateDate | date }}</li>

    <app-delete-post [currentPostToDelete]="post"></app-delete-post>

    <app-edit-post-dialog [currentPostToEdit]="post"></app-edit-post-dialog>
    
    <br>
</div>