<div class="mx-4 my-1">
  <!-- Dialog title -->
  <h3 class="dialogTitle d-flex justify-content-center pt-1 pb-4">
    Change About me info.
  </h3>

  <mat-dialog-content>
    <!-- Dialog body -->
    <form [formGroup]="changeAboutMeInfoForm">
      <div class="needs-validation">
        <div class="form-outline row">
          <label for="aboutMeInfo" class="form-label"> About me info: </label>
          <textarea
            [ngClass]="{
              'is-invalid':
                changeAboutMeInfoForm.controls['aboutMeInfo'].hasError(
                  'maxlength'
                )
            }"
            class="form-control is-valid"
            #myImput
            id="aboutMeInfo"
            rows="5"
            formControlName="aboutMeInfo"
          ></textarea>

          <div
            class="invalid-feedback col"
            *ngIf="
              changeAboutMeInfoForm.controls['aboutMeInfo'].hasError(
                'maxlength'
              )
            "
          >
            Info cannot exceed 256 characters.
          </div>

          <span class="d-flex justify-content-end h6 text-secondary p-1 col">
            {{ myImput.value.length }}/256
          </span>
        </div>
      </div>
    </form>
    <!-- Dialog footer -->
    <div class="row justify-content-md-center pt-2 pb-1">
      <div class="text-center col-md-auto">
        <button
          [mat-dialog-close]
          [disabled]="changeAboutMeInfoForm.invalid"
          class="btn btn-primary btn-block mb-1 px-5 py-2"
          type="button"
          (click)="onSubmit()"
        >
          Change
        </button>
      </div>

      <div class="text-center col-md-auto">
        <button
          [mat-dialog-close]
          class="btn btn-danger btn-block mb-1 px-5 py-2"
          type="button"
        >
          Cancel
        </button>
      </div>
    </div>
  </mat-dialog-content>
</div>
