<div class="logInForm">
    <h3>Log in:</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="container">

            <label for="login">Username or Email address:</label>
            <input type="text" id="login" name="login" formControlName="login">
            <span *ngIf="loginForm.controls['login'].hasError('required')">Username is required.</span>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" formControlName="password">
            <span *ngIf="loginForm.controls['password'].hasError('required')">Password is required</span>

            <button [disabled]="loginForm.invalid" type="submit">Log in</button>

        </div>
    </form>
</div>