<h3 class="d-flex justify-content-center pt-4 pb-2">
  Enter your email address in order to reset password.
</h3>

<div class="d-flex justify-content-center">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="needs-validation">
      <!-- Email field -->
      <div class="form-outline mb-4">
        <label class="form-label" for="emailAddress"> Email address: </label>
        <input
          [ngClass]="{
            'is-invalid':
              resetForm.controls['emailAddress'].hasError('pattern') ||
              resetForm.controls['emailAddress'].hasError('required')
          }"
          class="form-control is-valid"
          type="text"
          id="emailAddress"
          formControlName="emailAddress"
        />
        <div
          class="invalid-feedback"
          *ngIf="resetForm.controls['emailAddress'].hasError('required')"
        >
          Email address is required.
        </div>
        <div
          class="invalid-feedback"
          *ngIf="resetForm.controls['emailAddress'].hasError('pattern')"
        >
          Incorrect email format.
        </div>
      </div>
      <!-- Submit button -->
      <div class="text-center pt-3">
        <button
          class="btn btn-primary btn-block mb-4 px-5 py-2"
          [disabled]="resetForm.invalid"
          type="submit"
        >
          Send
        </button>
      </div>
      <!-- Cancel button -->
      <div class="text-center pb-3">
        <button
          class="btn btn-primary btn-block mb-4 px-5 py-2"
          type="button"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
