<div class="container">
  <h5>{{usernameOfChosenUser}}</h5>
  <ul>
    <li *ngFor="let chatMessage of chatService.chatMessages">
      <div *ngIf="chatMessage.from === usernameOfChosenUser" style="left: 0">
        <strong>{{ chatMessage.from }}: </strong>
        <span>{{ chatMessage.message }}</span>
      </div>
      <div *ngIf="chatMessage.from !== usernameOfChosenUser" style="right: 0">
        <strong>{{ chatMessage.from }}: </strong>
        <span>{{ chatMessage.message }}</span>
      </div>
    </li>
  </ul>

  <form (ngSubmit)="sendMessage(sendMessageForm)" #sendMessageForm="ngForm">
    <input type="text" name="message" id="message" ngModel />
    <button type="submit">Send</button>
  </form>
</div>
