<div class="container">
    <h3 mat-dialog-title>Change password.</h3>
    <mat-dialog-content>
        <form [formGroup]="changePasswordForm">
            <div class="dialog">
                <label for="oldPassword">
                    Enter your actual password:
                </label>
                <input type="password" id="oldPassword" formControlName="oldPassword">
                <span *ngIf="changePasswordForm.controls['oldPassword'].hasError('required')">
                    Actual password is required.
                </span>

                <label for="newPassword">
                    Enter new password:
                </label>
                <input type="password" id="newPassword" formControlName="newPassword">
                <span *ngIf="changePasswordForm.controls['newPassword'].hasError('required')">
                    New password is required.
                </span>
                <span *ngIf="changePasswordForm.controls['newPassword'].hasError('minlength')">
                    Password cannot be shorter than 6 characters.
                </span>
                <span *ngIf="changePasswordForm.controls['newPassword'].hasError('maxlength')">
                    Password cannot be longer than 35 characters.
                </span>

                <label for="repNewPassword">
                    Repeat new password:
                </label>
                <input type="password" id="repNewPassword" formControlName="repNewPassword">
                <span *ngIf="changePasswordForm.controls['repNewPassword'].hasError('required')">
                    Repeated password is required.
                </span>
                <span *ngIf="changePasswordForm.hasError('passwordsNotMatching')">
                    Passwords do not match.
                </span>

                <button [mat-dialog-close] [disabled]="changePasswordForm.invalid" type="button" (click)="onSubmit()">
                    Change
                </button>
                <button [mat-dialog-close] type="button">
                    Cancel
                </button>
            </div>
        </form>
    </mat-dialog-content>
</div>