<!-- Home page comment about the project -->
<div class="p-5">
  <p class="h3 text-center lh-base pb-4">
    Welcome to social networking site, created for learning purposes.
  </p>
  <p class="h5 text-center lh-base">
    Site is still in development state and my cause some errors.
    <br />
    <br />
    If you want to check some of the site functions withour registration you may
    log as a guest just by heading to login page (from menu on the left) and
    simply type "example" within required fields.
  </p>
</div>
