<div class="container-fluid">
  <div class="row m-1">

    <div class="col pt-3">
      <!-- Left side - navigation menu -->
      <ul class="nav flex-column position-fixed">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" routerLink="/"
            >Home</a
          >
        </li>

        <div *ngIf="!isTokenPresent">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/login"
              >Login</a
            >
          </li>
        </div>

        <div *ngIf="isTokenPresent">
          <li class="nav-item" (click)="onLogoutClick()">
            <a class="nav-link" routerLinkActive="active" routerLink="null"
              >Logout</a
            >
          </li>
        </div>

        <div *ngIf="!isTokenPresent">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/register"
              >Register</a
            >
          </li>
        </div>

        <div *ngIf="isTokenPresent">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/users"
              >Users</a
            >
          </li>
        </div>

        <div *ngIf="isTokenPresent">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/posts"
              >Posts</a
            >
          </li>
        </div>

        <div *ngIf="isTokenPresent">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/user_profile', currentUserId]"
              >My Profile</a
            >
          </li>
        </div>
      </ul>
    </div>

    <!-- Center - content -->
    <div class="col-8 mx-1">
      <router-outlet></router-outlet>
    </div>

    <!-- Right side - chat list -->
    <div class="col pt-4 " *ngIf="isTokenPresent">
      <div class="position-fixed">
        <app-users-to-chat-list></app-users-to-chat-list>
      </div>
    </div>
  </div>
</div>
