<router-outlet></router-outlet>
<div>
    <br>
    <button (click)="onAddPost()" *ngIf="!wasClicked">
        <a routerLinkActive="active" routerLink="add_post">Add post</a>
    </button>
    <br>
    <h3>Posts:</h3>
    <div class="listOfUsers" *ngFor="let post of postsList$">
        <li>{{ post.user.username | titlecase }}</li>
        <li>{{ post.createDate }}</li>
        <li>{{ post.postTextMessage }}</li>
        <app-delete-post [currentPostToDelete]="post"></app-delete-post>
        <button mat-rised-button (click)="openEditDialog(post)">Edti</button>
        <br>
    </div>
</div>