<router-outlet></router-outlet>
<div>
    <br>
    <button (click)="onAddPost()" *ngIf="!wasClicked">
        <a routerLinkActive="active" routerLink="add_post">Add post</a>
    </button>
    <br>
    <h3>Posts:</h3>
    <div class="listOfPosts" *ngFor="let post of postsList$">
        <li>
            <a routerLinkActive="active" [routerLink]="['/user_profile', post.user.username]" > User: {{ post.user.username | titlecase }}</a>
        </li>
        <li>Created: {{ post.createDate | date }}</li>
        <li>Post: {{ post.postTextMessage }}</li>
        <li *ngIf="post.updateDate != null">Edited: {{ post.updateDate | date }}</li>

        <app-delete-post [currentPostToDelete]="post"></app-delete-post>

        <button mat-rised-button (click)="openEditDialog(post)">Edti</button>
        <br>
    </div>
</div>