<router-outlet></router-outlet>
<!-- Add post button -->
<div *ngIf="!isCurrentUrlContainsAddPost()">
  <div class="d-flex justify-content-center mt-4">
    <button
      class="btn btn-primary m-1"
      routerLinkActive="active"
      routerLink="add_post"
    >
      Add post
    </button>
  </div>
</div>

<!-- Posts content -->
<div>
  <h3 class="d-flex justify-content-center pt-3 pb-1">Posts:</h3>
  <div *ngFor="let post of postsList">
    <div class="row border border-info border-2 rounded-4 p-2 m-2">
      <!-- Post owner -->
      <div class="col">
        <span class="h6">From:</span>
        <a
          class="h6"
          routerLinkActive="active"
          [routerLink]="['/user_profile', post.user.id.toString()]"
        >
          {{ post.user.username | titlecase }}</a
        >
      </div>
      <!-- Post create date -->
      <div class="h7 col d-flex justify-content-end">
        Created: {{ post.createDate | date : "d MMMM  y" }}
      </div>
      <!-- Post text -->
      <div class="h4 p-2 text-break">{{ post.postTextMessage }}</div>
      <!-- Post update date -->
      <div
        class="h7 d-flex justify-content-end"
        *ngIf="post.updateDate != null"
      >
        Edited: {{ post.updateDate | date : "d MMMM  y" }}
      </div>
      <!--  Reference to 'post' edit/delete components | contains edit/delete buttons -->
      <div *ngIf="currentUserId === post.user.id">
        <app-delete-post [currentPostToDelete]="post"></app-delete-post>
        <app-edit-post-dialog [currentPostToEdit]="post"></app-edit-post-dialog>
      </div>
    </div>
  </div>
</div>
