@import "~bootstrap/dist/css/bootstrap.css";

html body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(46, 75, 92, 1) 0%,
    rgba(59, 98, 119, 1) 85%,
    rgba(49, 106, 139, 1) 100%
  );
}

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-bottom: 15px;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgba(46, 75, 92, 1) 0%,
    rgba(59, 98, 119, 1) 85%,
    rgba(49, 106, 139, 1) 100%
  );
  border-radius: 8px;
  border-color: rgb(207, 19, 185);
  box-shadow: 0 0 0 rgb(207, 19, 185), 0 0 7px #0fa, 0 0 10px rgb(207, 19, 185),
    0 0 21px #0fa;
}

footer li {
  left: -20px;
}

h1,
h2,
h3,
h4,
label {
  margin: 11px;
  color: white;
  text-shadow: 0 0 0 rgb(64, 169, 234), 0 0 7px rgb(64, 169, 234),
    0 0 10px rgb(64, 169, 234), 0 0 21px rgb(64, 169, 234);
}

h1,
h2,
h3,
h4 {
  margin-left: 35px;
}

h1 {
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
  width: 95% !important;
  margin: 15px !important;
  padding: 15px;

  background: linear-gradient(
    90deg,
    rgba(46, 75, 92, 1) 0%,
    rgba(59, 98, 119, 1) 85%,
    rgba(49, 106, 139, 1) 100%
  );
  border-radius: 8px;
  border-color: rgb(207, 19, 185);
  box-shadow: 0 0 0 rgb(207, 19, 185), 0 0 7px #0fa, 0 0 10px rgb(207, 19, 185),
    0 0 21px #0fa;
}

label {
  border-top: 2px solid rgba(46, 75, 92, 1);
  border-left: 2px solid rgba(46, 75, 92, 1);
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset -6px -3px 10px #000000;
  padding: 5px 20px 7px 10px;
}

p,
li {
  padding: 5px;
  margin: 10px;
  color: white;
  text-shadow: 0 0 0 rgb(255, 200, 0), 0 0 7px rgb(255, 200, 0),
    0 0 10px rgb(255, 200, 0), 0 0 21px rgb(255, 200, 0);
}

li {
  list-style-position: inside;
  position: relative;
  display: inline;
  left: 20px;
}

li::marker {
  color: transparent;
}

li:before {
  position: absolute;
  content: "";
  left: -16px;
  top: 8px;
  border-top: 2px solid rgba(46, 75, 92, 1);
  border-left: 2px solid rgba(46, 75, 92, 1);
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow: inset -6px -3px 5px #000000;
  padding: 7px;
}

a {
  margin: 4px;
  color: white !important;
  text-shadow: 0 0 0 rgb(207, 19, 185), 0 0 7px rgb(207, 19, 185),
    0 0 10px rgb(207, 19, 185), 0 0 21px rgb(207, 19, 185);
}

button {
  margin: 15px !important;
  color: white;
  text-shadow: 0 0 0 rgb(207, 19, 185), 0 0 7px rgb(207, 19, 185),
    0 0 10px rgb(207, 19, 185), 0 0 21px rgb(207, 19, 185);
  border-radius: 8px !important;
  background: inherit;
  box-shadow: -8px -3px 7px black, -8px -3px 10px black, -8px -3px 18px black;
}

input,
textarea {
  width: 95%;
  align-self: center;
  padding: 5px;
  margin: 5px !important;
  color: white;
  text-shadow: 0 0 0 rgb(0, 0, 0), 0 0 7px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0),
    0 0 21px rgb(0, 0, 0);
  background-color: inherit;
  border-radius: 8px;
  border-color: #0fa;
  box-shadow: 0 0 7px #0fa, 0 0 10px #0fa, 0 0 21px #0fa;
}

span {
  margin: 5px 20px;
  color: rgb(229, 129, 129);
  text-shadow: 0 0 0 rgb(231, 35, 71), 0 0 7px rgb(231, 35, 71),
    0 0 10px rgb(231, 35, 71), 0 0 21px rgb(231, 35, 71);
}

.container {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.container > * {
  width: 60%;
}

.myBox {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgba(46, 75, 92, 1);
  border-left: 2px solid rgba(46, 75, 92, 1);
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset -6px -3px 10px #000000;
  padding: 5px 20px 10px 10px;
}

.dialogBox > mat-dialog-container {
  padding: 0;
  width: 800px;
  background: linear-gradient(
    90deg,
    rgba(46, 75, 92, 1) 0%,
    rgba(59, 98, 119, 1) 85%,
    rgba(49, 106, 139, 1) 100%
  );
  border-radius: 8px;
  border-color: rgb(207, 19, 185);
  box-shadow: 0 0 0 rgb(207, 19, 185), 0 0 7px #0fa, 0 0 10px rgb(207, 19, 185),
    0 0 21px #0fa;
}

.menuContainer {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  margin: 11px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: baseline;
  padding: 10px;
}

.menuContainer li {
  left: -8px;
}

.addPostButton {
  top: 0;
  left: center;
  overflow-x: hidden;
  transition: 0.5s;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: baseline;
}

.dialogTitle {
  margin-left: 55px !important;
}

.appRoot {
  padding-top: 60px;
  padding-bottom: 10px;
}

.footerToBody {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}
