<div class="container">
  <h5>Users to chat:</h5>

  <div class="myBox">
    <div class="listOfUsers" *ngFor="let user of userlist">
      <div *ngIf="user.id != currentUserId">
        <li>
          <a routerLink="active" (click)="onClickToChat(user)">
            {{ user.username | titlecase }}
          </a>
        </li>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isDisplayingChat">
  <app-chat [chosenUser]="chosenUser" [currentUserUsername]="currentUserUsername"></app-chat>
</div>
